/*

couleurs utilisées (background, background-color, border, box-shadow, color, text-shadow)

 - #000000 -> couleur du texte de la page <body>
           -> ombre des paragraphes <p>
           -> couleur des liens <a>
           -> ombre des tableaux <table>
           -> ombre des en-têtes de tableaux <th>
           -> ombre des contenus de tableaux <td>
           -> ombre des menus <nav>
           -> ombre de l'élément "tableReseauxSociaux"
           -> ombre de l'élément "tgv"
           -> ombre de l'élément "temps"
           -> ombre de l'élément "circuit"
           -> ombre de l'élément "details"

 - #568f8f -> arrière-plan des éléments de classe "sombre"

 - #609f9f -> arrière-plan de la page <body>
           -> arrière-plan des tableaux <table>
           -> arrière-plan des menus <nav>

 - #9f609f -> couleur des liens survolés <a>:hover

 - #9f9f60 -> bordure des paragraphes <p>
           -> bordure des tableaux <table>
           -> couleur des en-têtes de tableaux <th>
           -> bordure des en-têtes de tableaux <th>
           -> bordure des contenus de tableaux <td>
           -> couleur des éléments de classe "uic"
           -> bordure des éléments de classe "sombre"
           -> arrière-plan des entrées vérifiées <input>:checked et des labels <label>

 - #bbbbbb -> arrière-plan des paragraphes <p>

 - #ffffff -> ombre du texte de la page <body>

polices utilisées (font-family)

 - bahnschrift -> texte de la page <body>
 - serif -> titres de niveau 1 <h1>

tailles de polices utilisées (font-size)

 - 200% -> texte de la page <body>
 - 150% -> texte des éléments de classe "clairSombre"
 - 80% -> texte des tableaux <table>
 - 50% -> texte des menus <nav>


*/


	/* <.../> */


body {

	background: #609f9f url("fichiers/rail.png") repeat-y left top;
	margin: 5%;
	text-shadow: 1px 1px 1px #ffffff;
	color: #000000;
	font-family: bahnschrift;
	font-size: 200%;
	text-align: center;

}

h1 {

	font-family: serif;

}

p {

	background-color: #bbbbbb;
	border: 3px #9f9f60 outset;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #000000;

}

a {

	color: #000000;
	font-style: italic;
	text-decoration: none;

}

a:hover {

	color: #9f609f;

}

table {

	background-color: #609f9f;
	border: 3px #9f9f60 outset;
	border-radius: 20px;
	font-size: 80%;
	box-shadow: 3px 3px 3px #000000;
	width: 100%;

}

th {

	color: #9f9f60;
	border: 2px #9f9f60 outset;
	border-radius: 15px;
	box-shadow: 1px 1px 1px #000000;

}


td {

	border: 1px #9f9f60 outset;
	border-radius: 15px;
	box-shadow: 1px 1px 1px #000000;

}

img {

	width: 100%;
	border-radius: 15px;
	margin-top: 0px;
	margin-bottom: -8px;

}

nav {

	margin: 3%;
	font-size: 50%;
	background-color: #609f9f;
	box-shadow: 3px 3px 3px #000000;
	border-radius: 20px;
	position: sticky;
	top: 0px;
	opacity: 0.9;

}

ul {

	list-style-type: none;

}

ul:after {

	content: "";
	display: table;
	clear: both;

}

li {

	float: left;
	width: 20%;
	margin-top: 1%;

}



	/* class="..." */


.reseauxSociaux {

	width: 25%;
	box-shadow: 0 0 0;

}

.validation {

	width: 5%;
	border-radius: 0px;

}

.uic {

	color: #9f9f60;
	font-style: normal;

}

.sansBords {

	border: 0px;
	box-shadow: 0px 0px 0px;

}

.sombre {

	background-color: #568f8f;
	border: 2px #9f9f60 inset;

}


.plan .detaile, .plan:hover .simple {

	display: none;

}

.plan:hover .detaile {

	display: block;

}

.clairSombre {

	font-size: 150%;


}

.clairSombre input {

	width: 0px;

}

.clairSombre label {

	padding: 4px 16px;
	transition: all 0.1s ease-in-out;

}

.clairSombre label:first-of-type {

	border-radius: 20px 20px 0 0;

}

.clairSombre label:last-of-type {

	border-radius: 0 0 20px 20px;

}

.clairSombre label:hover {

	cursor: pointer;

}

.clairSombre input:checked + label {

	background-color: #9f9f60;
	font-weight: bold;

}



	/* id="..." */


#tableReseauxSociaux {

	border: 0px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 0px #000000;

}

#logo {

	width: 50%;
	margin-top: -4%;

}

#tgv {

	box-shadow: 3px 3px 3px #000000;
	width: 80%;

}

#temps {

	width: 50%;
	box-shadow: 3px 3px 3px #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

#sectionGauche {

	border-radius: 0px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-bottom: 0px;

}

#sectionMilieu {

	border-radius: 0px;
	margin-bottom: 0px;

}

#sectionDroite {

	border-radius: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-bottom: 0px;

}

#circuit {

	box-shadow: 3px 3px 3px #000000;
	width: 100%;

}

#details {

	box-shadow: 3px 3px 3px #000000;
	width: 100%;

}

#colones {

	column-count: 2;

}