/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                    Train Guy 53                                                   */
/*                                                                                                                   */
/* ================================================================================================================= */

/* ================================================================================================================= */
/*	<...>*/
/* ================================================================================================================= */

a {
	color: #000000;
	font-style: italic;
	text-decoration: none;
}

a:hover {color: #7a49a5;}

body {
	background: #5a8787 url(commun/rail.png) repeat-y left top;
	margin: 5%;
	text-shadow: 1px 1px 1px #ffffff;
	font-family: bahnschrift;
	font-size: 200%;
	text-align: center;
}

div {position: relative;}

h1 {
	font-family: serif;
	text-shadow: 2px 2px 2px #ffffff;
}

iframe {
	border: 0;
	width: 95%;
	position: sticky;
	top: 0;
	aspect-ratio: 110 / 10;
	opacity: 90%;
	box-shadow: 3px 3px 3px #000000;
	border-radius: 20px;
	z-index: 2;
}

img {
	width: 100%;
	border-radius: 15px;
	filter: drop-shadow(3px 3px 1px #000000);
}

#droite img {
	border-radius: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

#gauche img {
	border-radius: 0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

li {
	float: left;
	width: 15%;
}

nav {
	font-size: 50%;
	margin-top: -5%;
}

p {
	background-color: #bbbbbb;
	border: 3px #4974a5 outset;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #000000;
	padding: 1%;
}

span {font-family: consolas;}

table {
	background-color: #5a8787;
	border: 3px #4974a5 outset;
	border-radius: 20px;
	font-size: 80%;
	box-shadow: 3px 3px 3px #000000;
	width: 100%;
}

td {
	border: 1px #4974a5 outset;
	border-radius: 15px;
	box-shadow: 1px 1px 1px #000000;
}

th {
	border: 2px #4974a5 outset;
	border-radius: 15px;
	box-shadow: 1px 1px 1px #000000;
	background-color: #4974a5;
}

#reseauxSociaux th {background-color: transparent;}
ul {list-style-type: none;}

/* ================================================================================================================= */
/*	class = ...*/
/* ================================================================================================================= */

.divValidation:hover {cursor: pointer;}
.imgCircuit, .imgSection, #tgv {filter: drop-shadow(0 0 0);}

.imgFond, .imgSection {
	border-radius: 0;
	position: absolute;
	left: 0;
}

.tdImage {
	border: 0;
	box-shadow: 0 0;
}

.imgReseauxSociaux {
	width: 25%;
	box-shadow: 0 0 0;
}

.thSansBords {
	border: 0;
	box-shadow: 0 0;
}

.imgValidation {border-radius: 0;}

/* ================================================================================================================= */
/*	id = ...*/
/* ================================================================================================================= */


#clairSombre {
	font-size: 250%;
	border: 0;
	margin: 5%;
	background-color: transparent;
}

#circuits:hover #detaile {display: block;}
#clair {display: none;}
#clairSombre:hover {cursor: pointer;}
#colones {column-count: 2;}
#detaile, #circuits:hover #simple {display: none;}
#fond, #tgv {position: absolute;}
#logo {width: 50%;}

#reseauxSociaux {
	border: 0;
	background-color: transparent;
	box-shadow: 0 0 0;
}

#temps {
	width: 50%;
	box-shadow: 3px 3px 3px #000000;
	display: block;
	margin: auto;
}

#divTgv {
	width: 80%;
	left: -30%;
	padding-bottom: 10%;
}

#iframeValidation {
	aspect-ratio: 61 / 10;
	opacity: 100%;
	box-shadow: 0 0 0;
	float: left;
}

#tableValidation {
	border: 0;
	width: 25%;
	margin: auto;
	box-shadow: 0 0;
	background: transparent;
}

#tableValidation td {
	border: 0;
	box-shadow: 0 0;
	padding: 5%;
}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                    Train Guy 53                                                   */
/*                                                                                                                   */
/* ================================================================================================================= */