	/*  < />  */


body
	{
		background:#609f9f url("./fichiers/rail.png") repeat-y left top fixed;
		margin-right:60px;
		margin-left:60px;
		text-shadow:1px 1px 1px #ffffff;
		color:#000000;
		font-family:bahnschrift;
		font-size:30px;
		font-style:normal;
		font-weight:normal;
		text-align:center;
	}

h1
	{
		font-family:serif;
		font-size:40px;

	}

p
	{
		background-color:#A9A9A9;
		font-size:30px;
		border:3px green inset;
	}

table
	{
		background-color:#609f9f;
		border:5px #000000 solid;
		font-size:20px;
	}

th
	{
		color:#3399ff;
		border:2px #000000 solid;
	}

td
	{
		color:#000000;
		border:1px #000000 solid;
	}

img
	{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	
nav
	{
		position:sticky;
		top:0;
	}

nav ul
	{
		list-style-type:none;
	}

nav ul li
	{
		float:left;
		width:20%;
	}

nav ul::after
	{
		content:"";
		display:table;
		clear:both;
	}


	/*  id="_"  */


#table_rs
	{
		border:0;
		margin-left:150px;
	}

#td_rs
	{
		border:0;
	}


	/*  class="_" */


.locomotive
	{
		width:305px;
		height:150px;
	}

.wagon
	{
		width:300px;
		height:150px;
	}

.reseaux_sociaux
	{
		width:101px;
		height:101px;
		margin-left:10%;
	}

.logo
	{
		width:100px;
		height:100px;
	}
