/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                    Train Guy 53                                                   */
/*                                                                                                                   */
/*===================================================================================================================*/


a {
	color: #000000;
	font-style: italic;
	text-decoration: none;
}
a:hover {color: #7a49a5;}

body {
	background: #5a8787 url(commun/rail.png) repeat-y left top;
	margin: 5%;
	text-shadow: 1px 1px 1px #ffffff;
	font-family: Cambria;
	font-size: 200%;
	text-align: center;
}

div {position: relative;}
.div-nav {padding-bottom: 50%;}
.div-validation:hover {cursor: pointer;}
#div-colones {column-count: 2;}
#div-circuits:hover #img-circuit-détaillé {display: block;}
#div-tgv {
	width: 80%;
	left: -30%;
	padding-bottom: 10%;
	border-radius: 25px;
}

h1 {text-shadow: 2px 2px 2px #ffffff;}

iframe {
	border: 0;
	width: 100%;
	position: sticky;
	top: 0;
	aspect-ratio: 110 / 10;
	opacity: 90%;
	box-shadow: 3px 3px 3px #000000;
	border-radius: 20px;
	z-index: 2;
}
#iframe-validation {
	aspect-ratio: 61 / 10;
	opacity: 100%;
	box-shadow: 0 0;
	float: left;
}

img {
	width: 100%;
	filter: drop-shadow(3px 3px 1px #000000);
}
#div-droite img {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
#div-gauche img {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.img-circuit,
.img-section,
#img-tgv {filter: drop-shadow(0 0);}
.img-fond,
.img-section {
	position: absolute;
	left: 0;
}
.img-compagnie {width: 50%;}
.img-réseaux-sociaux {width: 25%;}
#img-tgv,
#img-tgv-fond {
	border-radius: 15px;
	position: absolute;
}
#img-logo {width: 50%;}
#img-temps {
	width: 50%;
	box-shadow: 3px 3px 3px #000000;
	border-radius: 25px;
	display: block;
	margin: auto;
}

li {
	float: left;
	width: 15%;
}

nav {
	font-size: 50%;
	margin-top: -5%;
}

p {
	background-color: #bbbbbb;
	border: 3px #4974a5 outset;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #000000;
	padding: 1%;
}

span {padding-right: 4%;}

table {
	background-color: #5a8787;
	border: 3px #4974a5 outset;
	border-radius: 20px;
	font-size: 80%;
	box-shadow: 3px 3px 3px #000000;
	width: 100%;
}
#table-validation {
	border: 0;
	width: 25%;
	margin: auto;
	box-shadow: 0 0;
	background: transparent;
}
#table-réseaux-sociaux {
	border: 0;
	background-color: transparent;
	box-shadow: 0 0;
}

td {
	border: 1px #4974a5 outset;
	border-radius: 15px;
	box-shadow: 1px 1px 1px #000000;
}
#table-validation td {
	border: 0;
	box-shadow: 0 0;
	padding: 5%;
}
.td-image {
	border: 0;
	box-shadow: 0 0;
}
.td-sans-bords {
	border: 0;
	box-shadow: 0 0;
}

th {
	border: 2px #4974a5 outset;
	border-radius: 15px;
	box-shadow: 1px 1px 1px #000000;
	background-color: #4974a5;
}
#table-réseaux-sociaux th {background-color: transparent;}

ul {list-style-type: none;}


#img-circuit-détaillé,
#div-circuits:hover #div-circuit-simple {display: none;}


/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                    Train Guy 53                                                   */
/*                                                                                                                   */
/*===================================================================================================================*/